includes:
    - config.local.neon
    - config.model.neon

parameters:
    mapper:
        prefixes:
            - Fakturace
            - dane

services:
    # model inicialization services
    - LeanMapper\Connection(%db%)
    - Joseki\LeanMapper\Mapper(%mapper.prefixes%)

