extensions:
  LeanMapper: Joseki\LeanMapper\DI\Extension

LeanMapper:
  db:
    host: %db.host%
    username: %db.username%
    password: %db.password%
    driver: %db.driver%
    database: %db.database%

  scanDirs:
    - %appDir%/Tables/DI

  map:
    fantasy_book: UnitTests\Tables\BookRepository

